# Application base path
BASE_PATH=

# app port
PORT=3000
# app host, because it is running in docker, you need 0.0.0.0 as the value
HOST=0.0.0.0
# node environment
NODE_ENV=dev

# console log level
LOG_CONSOLE_LEVEL=info

# disable if you do not want file logs
LOG_FILE_ACTIVE=false
LOG_FILE_LEVEL=info
LOG_FILE_NAME=data/logs/app.log


# Docker compose configs, for local development

# Id of your user, to set permissions
USER_ID=1000
# Id of your group, to set permissions
GROUP_ID=1000
# set when you want to debug a lib, example: winston:nest
DEBUG=

USER_DB_DATABASE=user-db
USER_DB_USERNAME=user-db
USER_DB_PASSWORD=user-db

# database port on the database server
USER_DB_PORT=5432
# Whether knex will use ssl to connect to the database
USER_DB_SSL=false
# Whether knex will check the server identity when using ssl
USER_DB_IGNORE_SERVER_IDENTITY=false
# Knex connection pool max size
USER_DB_POOL_MAX=1
# Knex connection pool min size
USER_DB_POOL_MIN=1
# The port of the node debugger in your host, use this to avoid port conflicts when running multiple services
NODE_HOST_DEBUG_PORT=9001

# The port of the node server in your host, use this to avoid port conflicts when running multiple services
NODE_HOST_PORT=3001

# The port of the node server in your host, use this to avoid port conflicts when running multiple services
DB_HOST_PORT=5001
